# Working with pandas

In [ ]:
import pandas as pd  #importing pandas
import numpy as np # importing numpy
x=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")  #loading the data frame
print(x)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
#type of file loaded
x=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(type(x))
# pandas generate .core.frame.datframe type of file

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#copying the data frame
df = x.copy()
print(df)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
x=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

df = x.copy()
print(df.head()) # looking the top 5 values
print("---------------------------------------")
print(df.head(30)) # looking the top 30 values

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
---------------------------------------
    5.1  3.5  1.4  0.2  Iris-setosa
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
3   5.0  3.6  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa
24  5.0  3.0  1.6  0.2  Iris-setosa
25  5.0  3.4  1.6  0.4  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa

In [ ]:
#loading the botton level dataset
print(df.tail()) # looking onto bottom 5 values
print("-------------------------------------")
print(df.tail(20))  # looking onto bottom 30 values

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
-------------------------------------
     5.1  3.5  1.4  0.2     Iris-setosa
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [ ]:
#look onto the columns
print(df.columns)  # this is used to acces the columns of dataframe

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [ ]:
# shape of data frames
print(df.shape) # looking onto the shape of dataframe i.e, 1st val as no. of rows and 2nd val as no. of cols
print("------------------------------")
print(df.dtypes)  # looking onto what sort of datatypes the values belong

(149, 5)
------------------------------
5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [ ]:
# to look onto the columns and to change it
df.columns = ['sl','sw','pl','pw',"flower_type"]  # custom made cols and changing the previous cols with these values on cols
print(df.columns) # viewing the cols
print("-------------------------------------")
print(df.shape) # looking onto the shape of dataframe
print("-------------------------------------")
print(df.dtypes) # looking onto the datatypes of each cols

Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')
-------------------------------------
(149, 5)
-------------------------------------
sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [ ]:
# to get the overall data information
print(df.describe()) # viewing the overall information about the dataframe col wise

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [ ]:
#to access a particular column  
# two different ways to access the same cols
print(df.sl)
print("-------------------------------")
print(df["sl"])

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64
-------------------------------
0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [ ]:
#to look up onto NULL entries
print(df.isnull())
#its a function
print("-----------------------------------------------------------")
#to get all the null entries in the column
print(df.isnull().sum())

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]
-----------------------------------------------------------
sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [ ]:
#to access data from between i.e., like slicing and function name is iloc function which takes parameters
print(df.iloc[1:4,2:4])  # basically the slicing 
#first argument is the index to access and the second one is to access the column

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

In [ ]:
print(df) # looking the dataframe

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

# Manipulate the data

In [ ]:
df.head() # looking the top 5 data of dataframe, can be accessed by using the head func

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
# to drop(delete) a row with ith label on it
a = df.drop(1)
a.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [ ]:
# to drop a row with ith label on it at the same object
# means no need to reassign the dataframe after deleting can be handled by the inplace parameter 
df.drop(5, inplace  = True)
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

# label and position are different

In [ ]:
#to look at the index labels of the dataset
df.index

Int64Index([  0,   1,   2,   3,   4,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [ ]:
df.index[0], df.index[2], df.index[3]  # this is the way to check the index on the 0th, 2nd and 3rd row of the dataframe

(0, 2, 3)

In [ ]:
# dropping in another style by dropping the indexing , using inplace = True so no need to reassign the datframe after deletion
df.drop(df.index[4],inplace  = True)
print(df.head())
print("----------------------------------------------------------------")
df.drop(df.index[[3,6]],inplace = True)  # here this 3 and 6 are the index labels which are being deleted i.e, from 3 to 5
# so the update datframe doesn't have the index labels as 3, 4 and 5
print(df.head())

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
----------------------------------------------------------------
    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa

In [ ]:
#a normal condition to check and get the result
print(df[df.sl > 5])

      sl   sw   pl   pw     flower_type
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[116 rows x 5 columns]

In [ ]:
#a normal condition to check and get the result
#way to select particular rows
print(df[df.flower_type == 'Iris-setosa'].describe())

              sl         sw         pl         pw
count  45.000000  45.000000  45.000000  45.000000
mean    5.006667   3.408889   1.462222   0.244444
std     0.361437   0.391281   0.178744   0.107778
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.100000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

# iloc work by position

In [ ]:
#work by position
print(df.iloc[0])
print("------------------------------------------")
#work by label
print(df.loc[15])

sl                     4.9
sw                     3.0
pl                     1.4
pw                     0.2
flower_type    Iris-setosa
Name: 0, dtype: object
------------------------------------------
sl                     5.4
sw                     3.9
pl                     1.3
pw                     0.4
flower_type    Iris-setosa
Name: 15, dtype: object

In [ ]:
#adding a row that can be basically created by loc function
df.loc[0] = [1,2,3,4,'Iris-setosa']

In [ ]:
print(df.tail())  # to get the bottom 5 elements

      sl   sw   pl   pw     flower_type
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [ ]:
#to reset index 
df.reset_index()

     index   sl   sw   pl   pw     flower_type
0        0  1.0  2.0  3.0  4.0     Iris-setosa
1        1  4.7  3.2  1.3  0.2     Iris-setosa
2        2  4.6  3.1  1.5  0.2     Iris-setosa
3        6  5.0  3.4  1.5  0.2     Iris-setosa
4        7  4.4  2.9  1.4  0.2     Iris-setosa
..     ...  ...  ...  ...  ...             ...
140    144  6.7  3.0  5.2  2.3  Iris-virginica
141    145  6.3  2.5  5.0  1.9  Iris-virginica
142    146  6.5  3.0  5.2  2.0  Iris-virginica
143    147  6.2  3.4  5.4  2.3  Iris-virginica
144    148  5.9  3.0  5.1  1.8  Iris-virginica

[145 rows x 6 columns]

In [ ]:
#in an order to not create a new column of index so
df.reset_index(drop = True, inplace = True)
df

      sl   sw   pl   pw     flower_type
0    1.0  2.0  3.0  4.0     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.4  1.5  0.2     Iris-setosa
4    4.4  2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
140  6.7  3.0  5.2  2.3  Iris-virginica
141  6.3  2.5  5.0  1.9  Iris-virginica
142  6.5  3.0  5.2  2.0  Iris-virginica
143  6.2  3.4  5.4  2.3  Iris-virginica
144  5.9  3.0  5.1  1.8  Iris-virginica

[145 rows x 5 columns]

In [ ]:
df.index # to check the range of the index in dataframe

RangeIndex(start=0, stop=145, step=1)

In [ ]:
#delete column in a dataset
df.drop('sl', axis = 1,inplace = True)
# axis = 1 means look column wise
df

      sw   pl   pw     flower_type
0    2.0  3.0  4.0     Iris-setosa
1    3.2  1.3  0.2     Iris-setosa
2    3.1  1.5  0.2     Iris-setosa
3    3.4  1.5  0.2     Iris-setosa
4    2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...             ...
140  3.0  5.2  2.3  Iris-virginica
141  2.5  5.0  1.9  Iris-virginica
142  3.0  5.2  2.0  Iris-virginica
143  3.4  5.4  2.3  Iris-virginica
144  3.0  5.1  1.8  Iris-virginica

[145 rows x 4 columns]

In [ ]:
df.describe()  # getting the overall information of the dataset

               sw          pl          pw
count  145.000000  145.000000  145.000000
mean     3.031724    3.848276    1.257931
std      0.438701    1.731413    0.783836
min      2.000000    1.000000    0.100000
25%      2.800000    1.600000    0.400000
50%      3.000000    4.400000    1.400000
75%      3.300000    5.100000    1.800000
max      4.400000    6.900000    4.000000

In [ ]:
#its another way to delete the column
del df['sw']
df

      pl   pw     flower_type
0    3.0  4.0     Iris-setosa
1    1.3  0.2     Iris-setosa
2    1.5  0.2     Iris-setosa
3    1.5  0.2     Iris-setosa
4    1.4  0.2     Iris-setosa
..   ...  ...             ...
140  5.2  2.3  Iris-virginica
141  5.0  1.9  Iris-virginica
142  5.2  2.0  Iris-virginica
143  5.4  2.3  Iris-virginica
144  5.1  1.8  Iris-virginica

[145 rows x 3 columns]

In [ ]:
#reseting the df to copy of iris
# i.e., copying the original dataset into df with the addition of columns
df = x.copy()
df.columns = ['sl','sw','pl','pw','flower_type']
df

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
#add a column into the dataset
df["diff_pl_pw"] = df["pl"] - df["pw"]
df

      sl   sw   pl   pw     flower_type  diff_pl_pw
0    4.9  3.0  1.4  0.2     Iris-setosa         1.2
1    4.7  3.2  1.3  0.2     Iris-setosa         1.1
2    4.6  3.1  1.5  0.2     Iris-setosa         1.3
3    5.0  3.6  1.4  0.2     Iris-setosa         1.2
4    5.4  3.9  1.7  0.4     Iris-setosa         1.3
..   ...  ...  ...  ...             ...         ...
144  6.7  3.0  5.2  2.3  Iris-virginica         2.9
145  6.3  2.5  5.0  1.9  Iris-virginica         3.1
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3

[149 rows x 6 columns]

# data with NAN entries

In [ ]:
#creating some nan etries in the data set
import numpy as np
df.iloc[2:4, 1:3] = np.nan  # np.nan does the work to create NaN values
df

      sl   sw   pl   pw     flower_type  diff_pl_pw
0    4.9  3.0  1.4  0.2     Iris-setosa         1.2
1    4.7  3.2  1.3  0.2     Iris-setosa         1.1
2    5.4  NaN  NaN  0.4     Iris-setosa         1.3
3    4.6  NaN  NaN  0.3     Iris-setosa         1.1
4    5.0  3.4  1.5  0.2     Iris-setosa         1.3
..   ...  ...  ...  ...             ...         ...
142  6.7  3.0  5.2  2.3  Iris-virginica         2.9
143  6.3  2.5  5.0  1.9  Iris-virginica         3.1
144  6.5  3.0  5.2  2.0  Iris-virginica         3.2
145  6.2  3.4  5.4  2.3  Iris-virginica         3.1
146  5.9  3.0  5.1  1.8  Iris-virginica         3.3

[147 rows x 6 columns]

In [ ]:
df.describe()  # overall summary of the dataset

               sl          sw          pl          pw  diff_pl_pw
count  149.000000  147.000000  147.000000  149.000000  149.000000
mean     5.848322    3.046939    3.806122    1.205369    2.569128
std      0.828594    0.434048    1.750351    0.761292    1.047707
min      4.300000    2.000000    1.000000    0.100000    0.800000
25%      5.100000    2.800000    1.600000    0.300000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    2.900000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    2.500000    4.700000

In [ ]:
#to handle the nan
#by dropping the na data
# use of inplace  = True is there so no need to reassign the dataset
df.dropna(inplace = True)
df.reset_index(drop = True, inplace = True) # reseting the index labels (ie., left most col)
df.head() # looking onto the top 5 rows

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  5.4  3.9  1.7  0.4  Iris-setosa         1.3
3  4.6  3.4  1.4  0.3  Iris-setosa         1.1
4  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [ ]:
#instead of dropping na entries changing with other data
#by putting the values onto it

# used in data cleaning

df.iloc[2:4, 1:3] = np.nan  # setting the value as nan from index 2 to 3 and column 1 to 2
print(df) # viewing the dataset
df.sw.fillna(df.sw.mean(), inplace = True)  # replacing the value of nan with the mean value of sw column with inplace = True
print("-----------------------------------------------------------------")
print(df)  # viewing the dataset
# the nan values in sw are filled

      sl   sw   pl   pw     flower_type  diff_pl_pw
0    4.9  3.0  1.4  0.2     Iris-setosa         1.2
1    4.7  3.2  1.3  0.2     Iris-setosa         1.1
2    5.4  NaN  NaN  0.4     Iris-setosa         1.3
3    4.6  NaN  NaN  0.3     Iris-setosa         1.1
4    5.0  3.4  1.5  0.2     Iris-setosa         1.3
..   ...  ...  ...  ...             ...         ...
142  6.7  3.0  5.2  2.3  Iris-virginica         2.9
143  6.3  2.5  5.0  1.9  Iris-virginica         3.1
144  6.5  3.0  5.2  2.0  Iris-virginica         3.2
145  6.2  3.4  5.4  2.3  Iris-virginica         3.1
146  5.9  3.0  5.1  1.8  Iris-virginica         3.3

[147 rows x 6 columns]
-----------------------------------------------------------------
      sl        sw   pl   pw     flower_type  diff_pl_pw
0    4.9  3.000000  1.4  0.2     Iris-setosa         1.2
1    4.7  3.200000  1.3  0.2     Iris-setosa         1.1
2    5.4  3.038621  NaN  0.4     Iris-setosa         1.3
3    4.6  3.038621  NaN  0.3     Iris-setosa         1.1
4    5.0  3.400000  1.5  0.2     Iris-setosa         1.3
..   ...       ...  ...  ...             ...         ...
142  6.7  3.000000  5.2  2.3  Iris-virginica         2.9
143  6.3  2.500000  5.0  1.9  Iris-virginica         3.1
144  6.5  3.000000  5.2  2.0  Iris-virginica         3.2
145  6.2  3.400000  5.4  2.3  Iris-virginica         3.1
146  5.9  3.000000  5.1  1.8  Iris-virginica         3.3

[147 rows x 6 columns]

In [ ]:
# another way to fill nan values
df.pl.fillna(df.pl.mean(), inplace = True)
print(df)

      sl        sw        pl   pw     flower_type  diff_pl_pw
0    4.9  3.000000  1.400000  0.2     Iris-setosa         1.2
1    4.7  3.200000  1.300000  0.2     Iris-setosa         1.1
2    5.4  3.038621  3.837241  0.4     Iris-setosa         1.3
3    4.6  3.038621  3.837241  0.3     Iris-setosa         1.1
4    5.0  3.400000  1.500000  0.2     Iris-setosa         1.3
..   ...       ...       ...  ...             ...         ...
142  6.7  3.000000  5.200000  2.3  Iris-virginica         2.9
143  6.3  2.500000  5.000000  1.9  Iris-virginica         3.1
144  6.5  3.000000  5.200000  2.0  Iris-virginica         3.2
145  6.2  3.400000  5.400000  2.3  Iris-virginica         3.1
146  5.9  3.000000  5.100000  1.8  Iris-virginica         3.3

[147 rows x 6 columns]

In [ ]:
# get some customized sort of data with the data summary
a = df[df.sl > 4.0]
a.describe()

               sl          sw          pl          pw  diff_pl_pw
count  147.000000  147.000000  147.000000  147.000000  147.000000
mean     5.862585    3.038621    3.837241    1.219048    2.587075
std      0.824722    0.427190    1.729951    0.757278    1.043327
min      4.300000    2.000000    1.000000    0.100000    0.800000
25%      5.100000    2.800000    1.600000    0.300000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    3.000000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    2.500000    4.700000

# managing the strings in dataframe

In [ ]:
df = x.copy() # copying the original dataset
df.columns = ['sl','sw','pl','pw','flower_type'] # and setting up the columns of dataset
df

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
# adding the col gender with all value of it as female
df["gender"] = "Female"
df

      sl   sw   pl   pw     flower_type  gender
0    4.9  3.0  1.4  0.2     Iris-setosa  Female
1    4.7  3.2  1.3  0.2     Iris-setosa  Female
2    4.6  3.1  1.5  0.2     Iris-setosa  Female
3    5.0  3.6  1.4  0.2     Iris-setosa  Female
4    5.4  3.9  1.7  0.4     Iris-setosa  Female
..   ...  ...  ...  ...             ...     ...
144  6.7  3.0  5.2  2.3  Iris-virginica  Female
145  6.3  2.5  5.0  1.9  Iris-virginica  Female
146  6.5  3.0  5.2  2.0  Iris-virginica  Female
147  6.2  3.4  5.4  2.3  Iris-virginica  Female
148  5.9  3.0  5.1  1.8  Iris-virginica  Female

[149 rows x 6 columns]

In [ ]:
df = x.copy()  # again copying the original dataset
df.columns = ['sl','sw','pl','pw','flower_type'] # managing the cols in dataset
df  # viewing the data
df["gender"] = "female"  # creating the column as gender with female values in it
df.iloc[0:10, 5] = "male"  # changing the value of gender column from female --> male from index 0 to 9 of the 5the column
df.head(20) # looking onto the top 20 values of dataset

     sl   sw   pl   pw  flower_type  gender
0   4.9  3.0  1.4  0.2  Iris-setosa    male
1   4.7  3.2  1.3  0.2  Iris-setosa    male
2   4.6  3.1  1.5  0.2  Iris-setosa    male
3   5.0  3.6  1.4  0.2  Iris-setosa    male
4   5.4  3.9  1.7  0.4  Iris-setosa    male
5   4.6  3.4  1.4  0.3  Iris-setosa    male
6   5.0  3.4  1.5  0.2  Iris-setosa    male
7   4.4  2.9  1.4  0.2  Iris-setosa    male
8   4.9  3.1  1.5  0.1  Iris-setosa    male
9   5.4  3.7  1.5  0.2  Iris-setosa    male
10  4.8  3.4  1.6  0.2  Iris-setosa  female
11  4.8  3.0  1.4  0.1  Iris-setosa  female
12  4.3  3.0  1.1  0.1  Iris-setosa  female
13  5.8  4.0  1.2  0.2  Iris-setosa  female
14  5.7  4.4  1.5  0.4  Iris-setosa  female
15  5.4  3.9  1.3  0.4  Iris-setosa  female
16  5.1  3.5  1.4  0.3  Iris-setosa  female
17  5.7  3.8  1.7  0.3  Iris-setosa  female
18  5.1  3.8  1.5  0.3  Iris-setosa  female
19  5.4  3.4  1.7  0.2  Iris-setosa  female

In [ ]:
#manipulating string based data as converting the string data to integer data as it is easier to manipulate
# apply is an inbuilt function inside pandas
def f(s):
    if(s == "male"):
        return 0
    else:
        return 1

df["sex"] = df.gender.apply(f)
del df["gender"]
df

      sl   sw   pl   pw     flower_type  sex
0    4.9  3.0  1.4  0.2     Iris-setosa    0
1    4.7  3.2  1.3  0.2     Iris-setosa    0
2    4.6  3.1  1.5  0.2     Iris-setosa    0
3    5.0  3.6  1.4  0.2     Iris-setosa    0
4    5.4  3.9  1.7  0.4     Iris-setosa    0
..   ...  ...  ...  ...             ...  ...
144  6.7  3.0  5.2  2.3  Iris-virginica    1
145  6.3  2.5  5.0  1.9  Iris-virginica    1
146  6.5  3.0  5.2  2.0  Iris-virginica    1
147  6.2  3.4  5.4  2.3  Iris-virginica    1
148  5.9  3.0  5.1  1.8  Iris-virginica    1

[149 rows x 6 columns]